/* #region hero section */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .hero-img-div {
        display: flex;

        .hero {
            display: flex;
            /* top: -50px; */
            right: clamp(-350px, calc((100vw - 400px) * 350 / 1040 - 350px), 0px);
        }
    }

    .overlay {
        top: -125px;
    }

    .hero-txt-div {
        top: -100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 284px;
        gap: 10px;

        .hero-txt {
            display: flex;
            gap: 26px;
            padding: 16px 8px;

            .text-orange {
                color: var(--color-orange);
            }

            .text-dark {
                color: var(--color-darkgrey);
            }

            .rating {
                display: flex;
                gap: 8px;
                border-radius: 4px;
                padding: 4px 5px;
                align-items: center;
                background-color: rgb(250, 202, 172);

                p {
                    font-size: 1.125rem;
                }

                p:first-of-type {
                    font-family: "Palanquin Dark";
                    font-weight: 400;
                    font-size: 1.25rem;
                }
            }
        }

        > p {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}

/* #endregion hero section */

/* #region categories */

.category {
    height: 91px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
    gap: 28px;
    margin-bottom: 25px;

    img {
        height: 91px;
        align-self: flex-end;
        padding-left: 167px;
        z-index: 1;
    }

    h2 {
        z-index: 1;
        bottom: -10px;
    }

    .orange-bar {
        position: absolute;
        height: 60px;
        width: 100%;
        align-self: flex-end;
        margin-bottom: 3px;
        background-color: var(--color-orange);
        z-index: -1;
    }
}

.dishes {
    display: flex;
    flex-direction: column;
    padding: 23px 608px 45px 119px;
    gap: 16px;

    .dish-card {
        width: 713px;
        background-color: var(--color-cream);
        display: flex;
        justify-content: space-between;
        border-radius: 12px;
        gap: 15px;
        padding: 10px;

        img {
            width: 207px;
            border-radius: 12px;
        }

        .dish-text-wrapper {
            display: flex;
            padding: 16px 8px;
        }

        .dish-name {
            width: 354px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .dish-price {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .add-button {
                background-color: white;
                border-radius: 20px;
                padding: 5px 8px;
            }
        }
    }
}

/* #endregions categories */

@media screen and (max-width: 767px) {
    .hero-div {
        display: flex;
        padding: 24px 16px;
        border-radius: 16px;

        .hero {
            display: flex;
        }
    }
}
