.dish-wrapper {
    display: flex;
    flex-direction: column;

    .category {
        .category-wrapper {
            height: 91px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            color: white;
            gap: 28px;
            margin-bottom: 25px;
            padding: 0px calc(50% - 720px);

            img {
                height: 91px;
                align-self: flex-end;
                padding-left: 167px;
            }

            h2 {
                bottom: -10px;
            }
        }

        .orange-bar {
            position: absolute;
            height: 60px;
            width: 100%;
            align-self: flex-end;
            margin-bottom: 3px;
            background-color: var(--color-orange);
            bottom: 25px;
            z-index: -1;
        }
    }

    .dishes {
        display: flex;
        flex-direction: column;
        padding: 23px calc(50% - 720px);
        gap: 16px;

        .dish-card {
            width: clamp(31.25rem, 9.8811rem + 44.5765vw, 50rem);
            height: 180px;
            background-color: var(--color-cream);
            display: flex;
            justify-content: space-between;
            border-radius: 12px;
            gap: 15px;
            padding: 10px;
            /* margin: 0px clamp(3.75rem, -35.2838rem + 81.4264vw, 38rem) 0px clamp(2rem, -0.4525rem + 8.7667vw, 7.4375rem); */
            margin: 0px clamp(3.75rem, -35.2838rem + 81.4264vw, 38rem) 0px clamp(1rem, -6.4493rem + 15.4993vw, 7.5rem);

            .dish-image {
                width: 207px;
                border-radius: 12px;
                object-fit: cover;
            }

            .dish-text-wrapper {
                display: flex;
                padding: 16px 8px;
            }

            .dish-name {
                height: 100%;
                width: auto;
                display: flex;
                flex-direction: column;
                gap: clamp(0.25rem, -0.0365rem + 0.5961vw, 0.5rem);

                p {
                    min-height: 75px;
                }
            }

            .dish-price {
                min-width: 120px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                .add-button {
                    background-color: white;
                    border-radius: 20px;
                    padding: 5px 8px;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    .sandwiches {
        display: none;
    }
    .dishes {
        .dish-card {
            .dish-text-wrapper {
                flex-direction: column;
                gap: 10px;

                .dish-price {
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .dish-wrapper {
        .category {
            .category-wrapper {
                flex-direction: column;
                padding: 0;
                align-items: center;

                img {
                    align-self: center;
                    height: 60px;
                    padding: 0px;
                    bottom: 15px;
                }

                h2 {
                    text-align: center;
                    bottom: 40px;
                }

                .sandwiches {
                    display: none;
                }
            }

            .orange-bar {
                bottom: 25px;
            }
        }

        .dishes {
            padding: 0px 20px 100px 20px;

            .dish-card {
                display: flex;
                width: 100%;
                height: auto;
                flex-direction: column;
                margin: 0;

                .dish-image {
                    width: 100%;
                }

                .dish-text-wrapper {
                    flex-direction: column;
                    align-items: start;
                    gap: 16px;

                    .dish-price {
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
    }
}
