footer {
    height: 128px;
    background-color: var(--color-orange);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 72px;
    padding: min(70px, 5%) min(450px, 19dvw) min(30px, 5%) min(450px, 19dvw);

    a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (max-width: 767px) {
    footer {
        display: none;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1441px) {
    footer {
        padding: 70px max(calc(50% - 466px), 274px) 30px max(calc(50% - 466px), 274px);
    }
}
