header {
    height: 128px;
    transition: 0.2s ease-in-out;
    background-color: var(--color-orange);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 49px 50px 41px 120px;

    nav {
        display: flex;
        gap: 15px;
        ul {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-bottom: 78px;
    }
    header {
        height: 80px;
        justify-content: center;
        padding: 0;
        transition: 0.2s ease-in-out;

        nav {
            position: fixed;
            height: 78px;
            bottom: 0;
            z-index: 1;
            background-color: var(--color-darkgrey);
            width: 100%;
            align-items: center;
            padding: 24px clamp(1.5625rem, 0.4464rem + 5.5804vw, 3.125rem);

            > img {
                display: none;
            }

            ul {
                display: flex;
                width: 100%;
                gap: 0;
                justify-content: space-between;
                list-style: none;

                #cart-icon {
                    display: flex;

                    .cart-button {
                        background: none;
                        border: none;
                    }

                    p {
                        height: 20px;
                        width: 20px;
                        background-color: rgba(253, 234, 220, 1);
                        border-radius: 50%;
                        text-align: center;
                        color: var(--color-orange);
                        bottom: 10px;
                        right: 10px;
                        font-family: "Palanquin";
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1441px) {
    header {
        padding: 49px max(calc(50% - 670px), 50px) 41px max(calc(50% - 600px), 120px);
    }
}
