* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

/* #region global font style */

body {
    font-size: 16px;
    font-family: "Palanquin";
    line-height: 120%;

    h1 {
        font-family: "Palanquin Dark";
        font-size: var(--h1-hero-size);
        font-weight: var(--h1-hero-weight);
    }

    h2 {
        font-family: "Palanquin";
        font-size: var(--h2-category-size);
        font-weight: var(--h2-categories-weight);
    }

    h3 {
        font-family: "Palanquin";
        font-size: var(--h3-cart-size);
        font-weight: var(--h3-cart-weight);
    }

    h4 {
        font-family: "Palanquin";
        font-size: var(--h4-dishes-size);
        font-weight: var(--h4-dishes-weight);
    }
}

/* #endregion global font style */

/* #region main content size */

main {
    display: flex;
    min-height: calc(100dvh-256px);
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .main-content {
        min-height: calc(100vh-208px);

        h2 {
            font-size: var(--h2-category-size-mobile);
        }
    }
}

@media screen and (min-width: 1441px) {
    .main-content {
        padding: 0px calc(50% - 720px);

        .overlay {
            top: -125px;
        }
    }
}

/* #endregion main content sizet */
